---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/nosotros/Hero.astro';
import MissionVision from '../components/nosotros/MissionVision.astro';
import Values from '../components/nosotros/Values.astro';
import Team from '../components/nosotros/Team.astro';
import CTA from '../components/nosotros/CTA.astro';
---


<Layout
    title="Sobre Nosotros | Luatec Solutions"
    description="Conoce a Luatec Solutions, tu aliado estratégico en tecnología. Nuestra misión es impulsar el crecimiento empresarial a través de la innovación."
>
    <Header />
    <main>
        <Hero />
        <MissionVision />
        <Values />
        <Team />
        <CTA />
    </main>
    <Footer />
</Layout>
