---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/soluciones/Hero.astro';
import SolutionsList from '../components/soluciones/SolutionsList.astro';
import CTA from '../components/soluciones/CTA.astro';
---


<Layout
    title="Servicios y Soluciones | Luatec Solutions"
    description="Descubre nuestras soluciones en Ciberseguridad, Networking, Servicios Cloud y Consultoría IT diseñadas para empresas modernas."
>
    <Header />
    <main>
        <Hero />
        <SolutionsList />
        <CTA />
    </main>
    <Footer />
</Layout>
