---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav id="main-header" class="fixed top-6 left-1/2 -translate-x-1/2 w-full max-w-7xl z-50 px-6 transition-transform duration-300">
  <div class="flex items-center justify-between relative z-50">
    <div class="flex items-center gap-2">
      <img src="/models/logo_base.png" alt="LUATEC" class="h-25 w-auto" />
    </div>
    
    <div class="flex items-center gap-4">
        <a class="px-8 py-3 rounded-full text-base font-semibold transition-all bg-primary hover:bg-blue-600 text-white shadow-lg shadow-primary/25 active:scale-95" href="/formulario">
        Contáctanos
        </a>
    </div>
  </div>
</nav>

<script>
  let lastScrollY = window.scrollY;
  const header = document.getElementById('main-header');

  window.addEventListener('scroll', () => {
    if (window.scrollY > lastScrollY && window.scrollY > 50) {
      // Scrolling down & past top
      header?.classList.add('-translate-y-[200%]');
    } else {
      // Scrolling up
      header?.classList.remove('-translate-y-[200%]');
    }
    lastScrollY = window.scrollY;
  });
</script>

